header {
  height: 100px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

header figure {
  margin-left: 2rem;
  margin: 0rem 1rem;
}

header figure img {
  width: 6rem;
}

.lista li {
  font-size: 2rem;
  margin: 0rem 1rem;
}

header nav {
  margin-right: 1rem;
}